.features {
  //   background-color: aqua;
  grid-column: center-start/ center-end;
  margin: 15rem 0rem;
  display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
 
  gap: 6rem;
  align-items: start;
  .feature {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    &__icon {
      fill: $color-primary;
      width: 5rem;
      height: 5rem;
      grid-row: 1 / span 2;
      transform: translateY(-1rem);
    }
    .para {
      font-size: 1.8rem;
    }
  }
}
