.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  .nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    text-decoration: none;
    list-style: none;
    &__link,
    &__link:visited {
      text-decoration: none;
      color: #fff;
      font-size: 1.6rem;
      font-family: $font-display;
      padding: 1.5rem 2rem;
      text-transform: uppercase;
      transition: all 0.3s;
      &:hover {
        background-color: rgba($color: white, $alpha: 0.5);
      }
    }
  }
}
.copyright {
  color: #fff;
  width: 80%;
  display: block;
  margin: 0% auto;
  text-align: center;
}
